@using cisApp.Function
@using cisApp.Common
@model AlbumImageModel

@{ 
    ViewData["ControllerName"] = "Files";
}

<!--begin::Col-->
<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
    <!--begin::Card-->
    <div class="card card-custom gutter-b card-stretch">
        <div class="card-body">
            <div class="d-flex flex-column align-items-center">
                <!--begin: Icon-->
                @*<img alt="" class="max-h-65px" src="" />*@
                <img src="@Url.Content("~/" + Model.UrlPath)" alt="@Model.AlbumName" class="img-thumbnail">
                <!--end: Icon-->
                <!--begin: Tite-->
                <a href="#" class="text-dark-75 font-weight-bold mt-15 font-size-lg">@Model.FileName</a>
                <!--end: Tite-->
            </div>
        </div>
    </div>
    <!--end:: Card-->
</div>
<!--end::Col-->