  <!--begin::Menu Container-->
<div id="kt_aside_menu" class="aside-menu my-4" data-menu-vertical="1" data-menu-scroll="1" data-menu-dropdown-timeout="500">
    <!--begin::Menu Nav-->
    <ul class="menu-nav">
        <li class="menu-item menu-item-active" aria-haspopup="true">
            <a href="@Url.Action("index","JobList")" class="menu-link" style="padding: unset !important;">
                <i class="menu-icon far fa-file-alt"></i>
                <span class="menu-text">ใบงาน</span>
            </a>
        </li>
        <li class="menu-item menu-item-active" aria-haspopup="true">
            <a href="@Url.Action("index","HistoryList")" class="menu-link" style="padding: unset !important;">
                <i class="menu-icon far fa-list-alt"></i>
                <span class="menu-text">ประวัติ</span>
            </a>
        </li>
        <li class="menu-item menu-item-active" aria-haspopup="true">
            <a href="@Url.Action("index","IncomeList")" class="menu-link" style="padding: unset !important;">
                <i class="menu-icon far fa-money-bill-alt"></i>
                <span class="menu-text">รายได้ของฉัน</span>
            </a>
        </li> 
         
    </ul>
    <!--end::Menu Nav-->
</div>
<!--end::Menu Container-->