@using cisApp.Controllers
@using cisApp.Function
@using cisApp.Core
@model cisApp.Function.JobModel
@{
    List<JobsExamImageModel> exImgList = new List<JobsExamImageModel>();
    List<JobsExamType> exImgTypeList = new List<JobsExamType>();
    try
    {
        exImgList = GetJobsExamImage.Get.GetImageByJobId(Model.JobId);
        exImgTypeList = GetJobsExamType.Get.GetActive().OrderBy(o => o.JobExTypeId).ToList();
    }
    catch (Exception ex)
    {

    }

}

<!--begin::image-->
<div class="card card-custom gutter-b">
    <div class="card-header h-auto border-0">
        <div class="card-title py-5">
            <h3 class="card-label">
                <span class="d-block text-dark font-weight-bolder">รูปที่ลูกค้าแนบมา</span>
            </h3>
            
            @if (Model.JobStatus != 6 && Model.JobStatus != 8)
            {
        <a href="@Url.Action("ManageImgExam", "Jobs", new { gId=Model.JobId })" target="_blank" class="btn btn-info btn-hover-bg-primary">เพิ่ม/แก้ไขข้อมูล</a>
            }
        </div>
    </div>

    <div class="card-body">
        @{
            bool first = true;
            string optionClass = "";
            foreach (var cat in exImgTypeList)
            {
                optionClass = first ? " mt-n8 " : "";
                <div class="col-12 @optionClass">
                    <h5 class="col-12 mb-10" style="color: #8408d9;"><strong>❏ @Html.Raw(cat.Description)</strong></h5>
                   
                    <div class="d-flex">
                        <!--begin: Info-->
                        <div class="flex-grow-1">
                            <!--begin: Content-->
                            <div class=" align-items-center flex-wrap justify-content-between">
                                <div class="row mt-n5 gallery">
                                    @{
                                        var items = exImgList.Where(o => o.JobsExTypeId == cat.JobExTypeId);
                                        if (items != null && items.Count() > 0)
                                        {
                                            int idx = 0;
                                            var imgs = items.Select(o => new FileAttachModel() { AttachFileId = o.AttachFileId, FileName = o.FileName, Size = o.Size, TypeId = o.JobsExTypeId.Value });
                                            foreach (var item in imgs)
                                            {
                                                item.NextImg = idx;
                                                item.IsView = true;
                                                @await Html.PartialAsync("~/Views/Shared/Common/_ImageItem.cshtml", item)
                                                idx++;
                                            }
                                            

                                        }
                                        else
                                        {
                                            <div class="col-12 text-center pl-15 mt-n10">
                                                <h2 class=" text-muted my-19"><i class="fas fa-exclamation-triangle fa-1x"></i> ไม่พบข้อมูล</h2>
                                            </div>
                                        }
                                    }
                                </div>

                            </div>
                            <!--end: Content-->
                        </div>
                        <!--end: Info-->
                    </div>
                </div>
                first = false;
            }
        }

    </div>
</div>
<!--end::image-->