 
@{
}



<!--begin::Table-->
<table id="kt_datatable" class="table align-middle gs-0 gy-4">
    <!--begin::Table head-->
    <thead>
        <tr class="fw-bold text-muted bg-light">
            <th class="ps-4 min-w-325px rounded-start text-center">ชื่อผู้ใช้งาน</th>
            <th class="min-w-125px text-center">รายละเอียด</th>
            <th class="min-w-125px text-center">IP</th>
            <th class="min-w-200px text-center">ข้อผิดพลาด</th>
            <th class="min-w-150px text-center">วัน-เวลา</th>
        </tr>
    </thead>
    <!--end::Table head-->
    <!--begin::Table body-->
    <tbody>
    </tbody>
    <!--end::Table body-->
</table>
<!--end::Table-->