<div style="margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;">
    <div style="background-color: #D7ECFE; border-top-left-radius: 15px; border-top-right-radius: 15px; padding: 20px;">

        <div style="margin: 20px; background-color: #F3F3F3; border-radius: 10px;">
            <p>&nbsp; &nbsp; &nbsp;</p>

            <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; [ตอบกลับ] แจ้งปัญหาระบบ</p>

            <div style="text-align: right;">
                <table border="0" cellpadding="1" cellspacing="1" style="width: 900px">
                    <tbody>
                        <tr>
                            <td style="text-align:right;width: 150px;">ชื่อผู้ใช้งาน :</td>
                            <td style="text-align: left;">{0}</td>
                        </tr>
                        <tr>
                            <td style="text-align:right;width: 150px;vertical-align: baseline;">ปัญหา :</td>
                            <td style="text-align: left;">{1}</td>
                        </tr>
                        <tr>
                            <td style="text-align:right;width: 150px;vertical-align: baseline;">ตอบกลับ :</td>
                            <td style="text-align: left;">{2}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <br/>


            <p>&nbsp;</p>

            <p>&nbsp;</p>

            <p>&nbsp;</p>
        </div>
    </div>
</div>
