<!--begin::Chart widget 27-->
<div class="card card-flush h-xl-100">
    <!--begin::Header-->
    <div class="card-header py-7">
        <!--begin::Statistics-->
        <div class="m-0">
            <!--begin::Description-->
            <h4>จำนวนผู้ใช้งาน แยกตามประเภท</h4>
            <!--end::Description-->
        </div>
        <!--end::Statistics-->
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body pt-0 pb-1">
        <div id="chartPie"></div>
    </div>
    <!--end::Body-->
</div>
<!--end::Chart widget 27-->