@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--begin:User-->
<div class="d-flex align-items-center justify-content-between mb-5">
    <div class="d-flex align-items-center">
        <div class="symbol symbol-circle symbol-50 mr-3">
            <img alt="Pic" src="https://picsum.photos/300?random=1" />
        </div>
        <div class="d-flex flex-column">
            <a href="#" class="text-dark-75 text-hover-primary font-weight-bold font-size-lg">Matt Pears</a>
            <span class="text-muted font-weight-bold font-size-sm">ผู้ใช้งานทั่วไป</span>
        </div>
    </div>
    <div class="d-flex flex-column align-items-end">
        <span class="text-muted font-weight-bold font-size-sm">35 mins</span>
    </div>
</div>
<!--end:User-->
<!--begin:User-->
<div class="d-flex align-items-center justify-content-between mb-5">
    <div class="d-flex align-items-center">
        <div class="symbol symbol-circle symbol-50 mr-3">
            <img alt="Pic" src="https://picsum.photos/300?random=2" />
        </div>
        <div class="d-flex flex-column">
            <a href="#" class="text-dark-75 text-hover-primary font-weight-bold font-size-lg">Charlie Stone</a>
            <span class="text-muted font-weight-bold font-size-sm">ผู้ใช้งานทั่วไป</span>
        </div>
    </div>
    <div class="d-flex flex-column align-items-end">
        <span class="text-muted font-weight-bold font-size-sm">7 hrs</span>
        <span class="label label-sm label-success">4</span>
    </div>
</div>
<!--end:User-->
<!--begin:User-->
<div class="d-flex align-items-center justify-content-between mb-5">
    <div class="d-flex align-items-center">
        <div class="symbol symbol-circle symbol-50 mr-3">
            <img alt="Pic" src="https://picsum.photos/300?random=3" />
        </div>
        <div class="d-flex flex-column">
            <a href="#" class="text-dark-75 text-hover-primary font-weight-bold font-size-lg">Teresa Fox</a>
            <span class="text-muted font-weight-bold font-size-sm">Designer</span>
        </div>
    </div>
    <div class="d-flex flex-column align-items-end">
        <span class="text-muted font-weight-bold font-size-sm">3 hrs</span>
        <span class="label label-sm label-danger">5</span>
    </div>
</div>
<!--end:User-->
<!--begin:User-->
<div class="d-flex align-items-center justify-content-between mb-6">
    <div class="d-flex align-items-center">
        <div class="symbol symbol-circle symbol-50 mr-3">
            <img alt="Pic" src="https://picsum.photos/300?random=4" />
        </div>
        <div class="d-flex flex-column">
            <a href="#" class="text-dark-75 text-hover-primary font-weight-bold font-size-lg">ประหยัด จันถึงพุท</a>
            <span class="text-muted font-weight-bold font-size-sm">Designer</span>
        </div>
    </div>
    <div class="d-flex flex-column align-items-end">
        <span class="text-muted font-weight-bold font-size-sm">3 hrs</span>
        <span class="label label-sm label-danger">5</span>
    </div>
</div>
<!--end:User-->